body {
  font: 16px/28px "Microsoft YaHei";
}

h1 {
  font-weight: 700;
  text-align: center;
}

a {
  text-decoration: none;
}

.grey {
  color: #888888;
  font-size: 12px;
  text-align: center;
}

.search {
  width: 170px;
  color: #888888;
}
.btn {
  font-weight: 700;
}

p {
  text-indent: 2em;
}

.pic {
  text-align: center;
}

.footer {
  font-size: 12px;
  color: #888888;
}
